.navbar, .navbar-default, .navbar-static-top {
    margin-bottom: 0;
}

.navbar-default, .sidebar .sidebar-nav, .navbar-collapse {
    padding: 0;
    margin: 0;
}

.nopadding {
    padding: 0;
}

.view-container {
    padding-top: 20px;
}

.bg_color {
    width: 250px;
}

.padding-sidebar{
    padding: 10px 15px;
}